@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

:root {
    /* Schema */
  --primary-font: 'Quicksand', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
  --cursive: 'Marck Script', cursive;
  --logo:  // 'Roboto', sans-serif;// 'Comfortaa', cursive;

  --primary-color: black;
  --secondary-color: white;
  --overlay: rgba(255, 255, 255, 1);

    /* Values */
  --border-initial: 1px solid;
  --em: calc(16px + 0.15vw);

    /* Features */
  --neomorphism: linear-gradient(to right bottom, #ffffff, #fafafa);
  --light: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  --inset: 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px white;
  --material: 0 3px 6px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2);
}