*,*::before,*::after { box-sizing: border-box; margin: 0; padding: 0; }
hr { border-color: white; }
h1, h2, h3 { font-weight: 500; }
h4, h5, h6 { font-weight: 500; }
p, a { font-weight: 300; }

nav a { margin-left: calc(1.75vw + 25px); }
nav a { font-size: 0.85em; }
nav a { letter-spacing: 0.1em; }
main a { letter-spacing: 0.1em; }
main p { letter-spacing: 0.05em; }
footer a { letter-spacing: 0.05em; }

main h1, h2, h3, h4, h5, h6 { margin: 1em 0; }
section { margin-bottom: 7.5%; }

img, video, svg { display: block; max-width: 100%; }
img { object-fit: cover; }
a { text-decoration: none; }
button { border: none; }

.page { display: flex; flex-direction: column; min-height: 100vh; overflow: hidden; }

.w-0 { width: 0; }
.w-16 { width: 16px; }
.w-24 { width: 24px; }
.w-32 { width: 32px; }
.w-48 { width: 48px; }
.w-56 { width: 56px; }
.w-64 { width: 64px; }
.w-128 { width: 128px; }
.w-256 { width: 256px; }
.w-512 { width: 512px; }
.w-full { width: 100%; }

.h-0 { height: 0; }
.h-16 { height: 16px; }
.h-24 { height: 24px; }
.h-32 { height: 32px; }
.h-48 { height: 48px; }
.h-56 { height: 56px; }
.h-64 { height: 64px; }
.h-128 { height: 128px; }
.h-256 { height: 256px; }
.h-512 { height: 512px; }
.h-full { height: 100%; }

.logo { font-size: 1em; font-weight: 400; color: black; }
.logo { width: 56px; height: 56px; border-radius: 50%; }
.mobile { justify-content: center; }
.mobile { position: fixed; top: 0; right: 0; left: 0; }

.border { border: 1px solid #eeeeee; }

.br-0 { border-radius: 0%; }
.br-5 { border-radius: 5%; }
.br-10 { border-radius: 10%; }
.br-15 { border-radius: 15%; }
.br-20 { border-radius: 20%; }
.br-25 { border-radius: 25%; }
.br-50 { border-radius: 50%; }

.m-1 { margin: 0.25em 0; }
.m-2 { margin: 0.50em 0; }
.m-3 { margin: 0.75em 0; }
.m-4 { margin: 1em 0; }

.z-0 { z-index: 0; }
.z-10 { z-index: 10; }
.z-20 { z-index: 20; }
.z-30 { z-index: 30; }
.z-40 { z-index: 40; }
.z-50 { z-index: 50; }
.z-100 { z-index: 100; }

.neomorphism { background: linear-gradient(to right bottom, #ffffff, #fafafa); }

.light { box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2); }
.inset { box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px white; }
.material { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2); }

.light-hover:hover { box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2); }
.inset-hover:hover { box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px white; }
.material-hover:hover { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2); }

.transition { transition: all 0.3s ease-in-out; }

.opacity:hover { opacity: 0.925; }
.opacity-66:hover { opacity: 0.66; }
.opacity-50:hover { opacity: 0.50; }
.opacity-33:hover { opacity: 0.33; }

.scale:hover { transform: scale(90); }
.rotate:hover { transform: rotate(360deg); }
.translate:hover { transform: translateY(-10px); }

.relative { position: relative; }
.absolute { position: absolute; }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.text-overflow p { white-space: nowrap; overflow: hidden; }
.text-overflow p:nth-child(n) { text-overflow: ellipsis; }

.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }
.flex-start { display: flex; align-items: center; justify-content: flex-start; }
.flex-center { display: flex; align-items: center; justify-content: center; }
.flex-end { display: flex; align-items: center; justify-content: flex-end; }
.flex-between { display: flex; align-items: center; justify-content: space-between; }
.flex-stretch { display: flex; align-items: center; justify-content: stretch; }

.align-center { align-items: center; }
.justify-center { justify-content: center; }

.gap-1 { grid-gap: 1em; }
.gap-2 { grid-gap: 2em; }
.gap-3 { grid-gap: 3em; }
.gap-4 { grid-gap: 4em; }
.gap-5 { grid-gap: 5em; }
@media (max-width: 600px) {
  .gap-1 { grid-gap: 0.5em; }
  .gap-2 { grid-gap: 1em; }
  .gap-3 { grid-gap: 1.5em; }
  .gap-4 { grid-gap: 2em; }
  .gap-5 { grid-gap: 2.5em; }
}

.grid-col-2 { display: grid; grid-template-columns: repeat(2, 1fr); }
.grid-col-3 { display: grid; grid-template-columns: repeat(3, 1fr); }
.grid-col-4 { display: grid; grid-template-columns: repeat(4, 1fr); }
.grid-col-5 { display: grid; grid-template-columns: repeat(5, 1fr); }

@media (min-width: 601px) and (max-width: 1024px) {
  .grid-col-2 { display: grid; grid-template-columns: repeat(1, 1fr); }
  .grid-col-3 { display: grid; grid-template-columns: repeat(2, 1fr); }
  .grid-col-4 { display: grid; grid-template-columns: repeat(2, 1fr); }
  .grid-col-5 { display: grid; grid-template-columns: repeat(3, 1fr); }
}
@media (max-width: 600px) {
  .grid-col-2 { display: grid; grid-template-columns: repeat(1, 1fr); }
  .grid-col-3 { display: grid; grid-template-columns: repeat(1, 1fr); }
  .grid-col-4 { display: grid; grid-template-columns: repeat(2, 1fr); }
  .grid-col-5 { display: grid; grid-template-columns: repeat(2, 1fr); }
}

@keyframes width {
  from { width: 0; }
  to { width: 100; }
}
@keyframes opacity {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes scale {
  from { transform: scale(0%); }
  to { transform: scale(100%); }
}

.toggle span { width: 20px; height: 2px; }
.toggle span::before { margin-top: -7px; }
.toggle span::after { margin-top: 7px; }

.toggle span::before, span::after { content: ''; position: absolute; }
.toggle span::before, span::after { width: inherit; height: inherit; background: inherit; }

.toggle { display: none; }
@media (max-width: 600px) { .toggle { display: flex; align-items: center; justify-content: center; }}

/* Breakpoints */
@media (min-width: 1920px) {
  .page { font-size: calc(0.5em + 0.60vw); }
  .main { padding: 50px calc(30vw - 300px) 0 calc(30vw - 300px); }
  .header { padding: 20px calc(30vw - 300px); }
  .footer { padding: 20px calc(30vw - 300px); }
  .aboveHeader { padding: 5px calc(30vw - 300px); }
}
@media (min-width: 1025px) and (max-width: 1919px) {
  .page { font-size: calc(0.5em + 0.60vw); }
  .main { padding: 50px calc(15vw - 50px) 0 calc(15vw - 50px); }
  .header { padding: 15px calc(15vw - 50px); }
  .footer { padding: 15px calc(15vw - 50px); }
  .aboveHeader { padding: 5px calc(15vw - 50px); }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .page { font-size: calc(0.5em + 0.85vw); }
  .main { padding: 50px calc(10vw - 20px) 0 calc(10vw - 20px); }
  .header { padding: 15px calc(10vw - 20px); }
  .footer { padding: 15px calc(10vw - 20px); }
  .aboveHeader { padding: 5px calc(10vw - 20px); }
}
@media (max-width: 600px) {
  .page { font-size: calc(0.5em + 1.75vw); }
  .main { padding: 50px calc(10vw - 20px) 0 calc(10vw - 20px); }
  .header { padding: 10px calc(10vw - 20px); }
  .footer { padding: 30px calc(10vw - 20px); }
}