@use './lib';
@use './root';
@use './animations';

/* Font Scheme */
main { font-family: var(--primary-font); }
header { font-family: var(--secondary-font); }
footer { font-family: var(--secondary-font); }


/* Color Scheme */
main { color: black; background: white; }
header { color: black; background: white; }
footer { color: black; background: white; }
hr { border-color: white; }
a { color: #666666; }
p { color: #666666; }


/* Logo */
.logo { color: black; }
.logo { background: var(--neomorphism); box-shadow: var(--light); }
.logo { font-family: var(--logo); font-size: calc(var(--em) + 2px); font-weight: 400; }


/* AboveHeader */
.aboveHeader a { color: black; background: white; }
.aboveHeader a { border-radius: 5px; margin-left: 50px; }
.aboveHeader a:nth-child(n) { padding: 3px; font-size: 1em; }
.aboveHeader { background: var(--primary-color); min-height: var(--em); }


/* Navigation */
.nav a { font-size: 0.85em; margin-left: 40px; }


/* Mobile */
.mobile a { color: black; }
.mobile a { margin: 20px 0; }
.mobile { width: 75%; height: 100%; }
.mobile { justify-content: center; }
.mobile { position: fixed; top: 0; right: 0; left: 0; }
.mobile { background: var(--overlay); }


/* ActiveLink */
.active { color: black; }
.active { position: relative; }
.active::before { position: absolute; }


/* Buttons */
.btn, .btn-clear { width: 220px; height: 42px; font-size: 0.975em; }
.btn { color: white; }
.btn { border-radius: 0px; }
.btn { font-weight: 500; }
.btn { background: var(--primary-color); }

.btn-clear { color: var(--primary-color); border-color: var(--primary-color); }
.btn-clear { font-family: var(--secondary-font); border: var(--border-initial); }

/* Toggle */
.toggle { background: white; }
.toggle span { background: #222222; }
.toggle span { width: 20px; height: 2px; }
.toggle span::before { margin-top: -7px; }
.toggle span::after { margin-top: 7px; }
.toggle { box-shadow: var(--inset); }


/* TextBlock */
.text-block { margin: calc(var(--em) * 2) 0; }
.text-block p { margin: calc(var(--em) * 1) 0}


/* Footer */
.footer { font-size: 0.75em; }
.footer a { margin: 0.5em 0; }


/* Phones Breakpoint */
@media (max-width: 600px) {
  /* Schema */
  .header { box-shadow: var(--light); border: none; }

  /* Values */
  .logo { font-size: calc(var(--em) + 4px); }
  .btn, .btn-clear { width: 100%; border-radius: 5px; }

  /* None */
  .aboveHeader { display: none; }
  .nav { display: none; }
  .header-hr { display: none; }
}